.container-fluid,
.main-row {
  height: 100%;
}

.ant-page-header {
  padding: 0px 0px 7px 0px;
}

.workspace-select-div {
  display: inline-block;
  bottom: 3px;
  width: 50%;
  max-width: calc(100% - 170px);
}

.note-div {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.note-div a {
  padding-right: 15px;
}

.note-div textarea {
  width: calc(100% - 60px);
  font-size: 16px;
  background-color: rgb(230, 230, 240);
}

.note-div button {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
